body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.container-application {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
}

.container-app-input {
  margin-bottom: 20px;
}

.container-app-input select{
  background-color: #ffffff;
  border-radius: 8px;
  width: 250px;
  height: 40px;
  text-align: right;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload label {
  background-color: #ff7d33;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.custom-file-upload input[type="file"]:hover + label {
  background-color: #ff7d33;
}

.form-group input[type="submit"]:hover {
  background: #ff5733;
}

.form-group input[type="submit"] {
  background: #ff7d33;
  color: #fff;
  cursor: pointer;
}

.fixed-width-label {
  display: inline-block;
  width: 300px;
  margin-right: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  text-align: left;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-application p {
  color:darkred;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

.profile-picture{
  width: 200px;
  height: 150px;
  border-radius: 30px;
  padding-left: 80px;
}

.container-fluid-intro h6{
  font-weight: bold;
  padding-left: 40px;
  font-size: 13px;
}


.container-fluid-intro{
  padding-bottom: 50px;
}

.profile-card{

  display: inline-block;
}
