body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container-application {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 0 auto;
}

.container-app-input {
  margin-bottom: 20px;
}

textarea {
  width: calc(100% - 150px);
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload label {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.custom-file-upload input[type="file"]:hover + label {
  background-color: #45a049;
}

.form-group input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.fixed-width-label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 10px;
}

.not-allowed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.not-allowed-content {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

img {
  width: 2in;
  height: 1.25in;
}
