.message-bubble {
  max-width: 90%;
  margin: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.user-bubble {
  align-self: flex-end;
  color: #f7f7f7;

}

.other-bubble {
  align-self: flex-start;
  color:#0c0c0c;

}

.message-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-content {
  margin: 0;
}



.no-messages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.no-messages-content {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: left;
  padding-left: 150px;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 40px;
  border-radius: 10px;
  margin: 50px auto;
  width: 80%;
}
