.status-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

.status-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #dadada;
  margin-bottom: 10px;
  margin-right: 1in;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.active .circle{
  background-color: #ff5733;
}

.text {
  font-size: 14px;
  color: #333;
}

.active .text {
  font-weight:bold;
  color: #ff5733;
}

.container-application {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  width: 60%;
}

h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 2px;
  font-weight: bold;

}
