
<div class="container-application">
  <h2>APPLICATION STATUS</h2>
<div class="status-progress">
  <div *ngFor="let step of steps; let i = index" class="status-step" [ngClass]="{'active': i <= activeStatusIndex}">
    <div class="circle"></div>
    <div class="text">{{ step }}</div>
  </div>
</div>

</div>

<!--
<div class="status-progress">
  <div *ngFor="let step of steps; let i = index" class="status-step" [ngClass]="{'active': i <= activeStatusIndex}">
    <div class="circle"></div>
    <div class="text">{{ step }}</div>
  </div>
</div>
-->
