body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container-application {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  width: 60%;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #ff7d33;
  color: #ffffff;
}

.btn-primary:hover {
  background: #ff5733;
}

.btn-danger {
  background-color: #ff5733;
  color: #ffffff;
}

.btn-danger:hover{
  background: #ff7d33;
}
